<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<div>
  <h2>LOGIN</h2>
  <input type="text" id="name" placeholder="name">
  <input type="text" id="pass" placeholder="pass">
  <button onclick="return user.login()">Login</button>
  <button onclick="return user.logout()">logout</button>
  <button onclick="return timer.getTimers()">Timers</button>
  <button onclick="return timer.addTimer()">Add Timer</button>
</div>
<div>
  <h2>Register</h2>
  <input type="text" id="nameReg" placeholder="name">
  <input type="text" id="passReg" placeholder="pass">
  <button onclick="return user.register()">Register</button>
</div>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

  class Req {
    constructor() {
      this.axios = axios;
    }

    post(uri, opt = {}) {
      return this.axios.post(uri, opt, {headers: {'Authorization': `Bearer ${localStorage.getItem('jwttoken')}`}});
    };

    get(uri) {
      return this.axios.get(uri, {headers: {'Authorization': `Bearer ${localStorage.getItem('jwttoken')}`}});
    };

    delete(uri) {
      return this.axios.delete(uri, {headers: {'Authorization': `Bearer ${localStorage.getItem('jwttoken')}`}});
    };

    put(uri, opt = {}) {
      return this.axios.put(uri, opt, {headers: {'Authorization': `Bearer ${localStorage.getItem('jwttoken')}`}});
    };
  }

  class User {
    constructor() {
      this.nameLogin = document.getElementById('name');
      this.passLogin = document.getElementById('pass');
      this.nameReg = document.getElementById('nameReg');
      this.passReg = document.getElementById('passReg');
    }

    login() {
      const pack = {
        name: this.nameLogin.value,
        pass: this.passLogin.value
      };
      apiReq.post('/login', pack)
        .then((res) => {
          console.log('Login: ', res);
          localStorage.setItem('jwttoken', res.data.token);
        })
        .catch((error) => console.log(error));
    }

    logout() {
      localStorage.setItem('jwttoken', null);
    }

    register() {
      const pack = {
        name: this.nameReg.value,
        pass: this.passReg.value
      };
      apiReq.post('/register', pack)
        .then(function (response) {
          console.log('Register: ', response);
        })
        .catch((error) => console.log(error));
    }
  }

  class Timer {
    constructor() {
    }

    addTimer() {
      apiReq.post('/timer')
        .then((response) => {
          console.log('added timer: ', response.data);
        })
        .catch((error) => console.log(error));

    }

    getTimers() {
      apiReq.get('/timers')
        .then((response) => {
          console.log('Timers: ', response.data);
        })
        .catch((error) => console.log(error));
    }
  }

  const apiReq = new Req();
  const user = new User();
  const timer = new Timer();

</script>
</body>
</html>
